<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %>
        <td><%= link_to 'Show', course, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && can?(:create, Course) %>
  <%= link_to 'New Course', new_course_path, {class: 'btn btn-primary' } %>
<% end %>
